html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}
a:visited{
    color: white;
}
article::-webkit-scrollbar {
    width: 12px;
}

article::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
article::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

ol::-webkit-scrollbar {
    width: 12px;
}

ol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

ol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
ol::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

ol::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
table::-webkit-scrollbar {
    width: 12px;
}

table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body{
    margin: 0%;
    padding-bottom: 0%;
}
.PageHeader{
    background-color: #333333;
    margin-bottom: 2px ;
    display: flex;
    padding-bottom: 0%;
}
.PageHeader a:visited{
    color :white;
}
.LogoImageFigure{
    padding: 0%;
    width: 4%;
}
.PageHeaderLogoText{
    height: 5%;
    margin-top: 2%;
    margin-left: 38%;
}
.PageHeaderUserNameProfileImage{
    margin-left: 40%;
    color: white;
    margin-right: 1%;

}
.PageHeaderUserNameText{
    margin-left: 40%;
}
.PageHeaderUserNameText,.logoTexLink , .LogOutLink{
    color :white;
}
.LogOut{
    padding-top: 40px;
}


.PageHeaderUserImage{
    padding-left: 10px;
}
.navegationBar{
    background-color:#333;

}

.DescriptionBox{
    position: relative;
    background: #d5877c;
    border: 2px solid #7bf58b;
    margin-top: 10px;
}
.DescriptionBox:after, .DescriptionBox:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.DescriptionBox:after {
    border-color: rgba(213, 135, 124, 0);
    border-bottom-color: #d5877c;
    border-width: 15px;
    margin-left: -15px;
    margin-top: 3%;
}
.DescriptionBox:before {
    border-color: rgba(123, 245, 139, 0);
    border-bottom-color: #7bf58b;
    border-width: 15px;
    margin-left: -15px;
}
